In [1]:
import numpy as np
import pandas as pd

In [2]:
# ASSOCIATIONS: QUANTITATIVE AND CATEGORICAL VARIABLES
# Introduction
# 7 min
# Examining the relationship between variables can give us key insight into our data. In this lesson, we will cover ways of assessing the association between a quantitative variable and a categorical variable.

# In the next few exercises, we’ll explore a dataset that contains the following information about students at two portuguese schools:

# school: the school each student attends, Gabriel Periera ('GP') or Mousinho da Silveria ('MS')
# address: the location of the student’s home ('U' for urban and 'R' for rural)
# absences: the number of times the student was absent during the school year
# Mjob: the student’s mother’s job industry
# Fjob: the student’s father’s job industry
# G3: the student’s score on a math assessment, ranging from 0 to 20
# Suppose we want to know: Is a student’s score (G3) associated with their school (school)? If so, then knowing what school a student attends gives us information about what their score is likely to be. For example, maybe students at one of the schools consistently score higher than students at the other school.

# To start answering this question, it is useful to save scores from each school in two separate lists:

# scores_GP = students.G3[students.school == 'GP']
# scores_MS = students.G3[students.school == 'MS']

In [3]:
students = pd.read_csv('students_associations.csv')

In [4]:
#The dataset described above has been saved for you in the workspace as a Pandas dataframe named students. Inspect the first five rows of students using the .head() method. 
#Take a look at the other columns. Which are categorical and which are quantitative?

#print the first five rows of students:
students.head()

  school address  absences     Mjob      Fjob  G3
0     GP       U         6  at_home   teacher   6
1     GP       U         4  at_home     other   6
2     GP       U        10  at_home     other  10
3     GP       U         2   health  services  15
4     GP       U         4    other     other  10

In [7]:
# Suppose that we want to know whether there is an association between student math scores (G3) and the student’s address (urban or rural). 
# Separate out G3 scores into two separate lists: one for students who live in an urban location ('U') and one for students who live in a rural location ('R'). 
# Name these lists scores_urban and scores_rural.

#students.address
#students.loc(students.address=='U') 

print(students.G3[students.address == 'U'])
students[students.address == 'U']

#separate out scores for students who live in urban and rural locations:

0       6
1       6
2      10
3      15
4      10
       ..
388     8
389     0
390     9
391    16
394     9
Name: G3, Length: 307, dtype: int64

    school address  absences      Mjob      Fjob  G3
0       GP       U         6   at_home   teacher   6
1       GP       U         4   at_home     other   6
2       GP       U        10   at_home     other  10
3       GP       U         2    health  services  15
4       GP       U         4     other     other  10
..     ...     ...       ...       ...       ...  ..
388     MS       U         0   teacher  services   8
389     MS       U         0     other     other   0
390     MS       U        11  services  services   9
391     MS       U         3  services  services  16
394     MS       U         5     other   at_home   9

[307 rows x 6 columns]

In [8]:
scores_urban = students.G3[students.address == 'U']
scores_rural = students.G3[students.address == 'R']

In [13]:
#scores_urban.head()
#scores_rural.head()
type(scores_rural)

pandas.core.series.Series

In [14]:
print(scores_urban.mean())
print(scores_rural.mean())

10.674267100977199
9.511363636363637