In [1]:
# ATA SCIENCE FOUNDATIONS II
# Exploring Student Data
# Imagine that you work for a school district and have collected some data on local students and their parents. You’ve been tasked with answering some important questions:

# How are students performing in their math classes?
# What do students’ parents do for work?
# How often are students absent from school?
# In this project, you’ll explore and summarize some student data in order to answer these questions.

# Data citation:

# Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science. http://archive.ics.uci.edu/ml/datasets/Student+Performance

# Paulo Cortez, University of Minho, Guimarães, Portugal, http://www3.dsi.uminho.pt/pcortez

In [2]:
# Load libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Import data
students = pd.read_csv('students.csv')

In [ ]:
# The provided dataframe (saved as students) includes the following variables/features:

# address: the location of the student’s home ('U' for urban and 'R' for rural)
# absences: the number of times the student was absent during the school year
# Mjob: the student’s mother’s job industry
# Fjob: the student’s father’s job industry
# math_grade: the student’s final grade in math, ranging from 0 to 20
# Use the pandas .head() method to inspect the first few rows of data.

In [7]:
students.head(12)

   address  absences      Mjob      Fjob  math_grade
0        U         6   at_home   teacher           6
1        U         4   at_home     other           6
2        U        10   at_home     other          10
3        U         2    health  services          15
4        U         4     other     other          10
5        U        10  services     other          15
6        U         0     other     other          11
7        U         6     other   teacher           6
8        U         0  services     other          19
9        U         0     other     other          15
10       U         0   teacher    health           9
11       U         4  services     other          12

In [13]:
# Use the pandas .describe() method to print out summary statistics for all five features in the dataset. Inspect the output. Do more students live in urban or rural locations?

students.describe(include='all')
# students.describe()

       address    absences   Mjob   Fjob  math_grade
count      395  395.000000    395    395  395.000000
unique       2         NaN      5      5         NaN
top          U         NaN  other  other         NaN
freq       307         NaN    141    217         NaN
mean       NaN    5.708861    NaN    NaN   10.415190
std        NaN    8.003096    NaN    NaN    4.581443
min        NaN    0.000000    NaN    NaN    0.000000
25%        NaN    0.000000    NaN    NaN    8.000000
50%        NaN    4.000000    NaN    NaN   11.000000
75%        NaN    8.000000    NaN    NaN   14.000000
max        NaN   75.000000    NaN    NaN   20.000000

In [10]:
# Summarize a typical student grade
# 3.
# Let’s start by trying to summarize the math_grade column. Calculate and print the mean value of math_grade.

students.math_grade.mean()

10.415189873417722

In [14]:
# Next, calculate and print the median value of math_grade. Compare this value to the mean. Is it smaller? larger?

students.math_grade.median()

11.0

In [16]:
# 5.
# Finally, calculate and print the mode of the math_grade column. What is the most common grade earned by students in this dataset? How different is this number from the mean and median?

students.math_grade.mode()[0]  ## Note that, because of how this function is written, the mode is returned as a pandas series. In order to convert it to a single value, we can extract the first value in the series (eg., students.math_grade.mode()[0])

10

In [17]:
# Next, let’s summarize the spread of student grades. Calculate and print the range of the math_grade column.

students.math_grade.max() - students.math_grade.min()

20

In [20]:
# Calculate and print the standard deviation of the math_grade column. About two thirds of values fall within one standard deviation of the mean. What does this number tell you about how much math grades vary?

students.math_grade.std()

4.5814426109978434