In [1]:
# DATA SCIENCE FOUNDATIONS II
# Page Visits Funnel
# Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

# In this case, our funnel is going to describe the following process:

# A user visits CoolTShirts.com
# A user adds a t-shirt to their cart
# A user clicks “checkout”
# A user actually purchases a t-shirt
# Setup Instructions
# You have two options of completing this assignment. Either here, within Codecademy’s output terminal, or on your own, in case you’re more comfortable using a Jupyter notebook.If you choose to do this project on your computer instead of Codecademy, you can download what you’ll need by clicking the “Download” button below. If you need help setting up your computer, be sure to check out our setup guides:

# Command Line Interface Setup
# Introducing Jupyter Notebook
# Setting up Jupyter Notebook
# Getting Started with Jupyter
# Getting More out of Jupyter Notebook
# Open Page_Visits_Funnel.ipynb and follow the steps in the Jupyter Notebook. If you get stuck, you can look at Page_Visits_Funnel_Solution.ipynb for the answer.

In [2]:
#import codecademylib3
import pandas as pd

visits = pd.read_csv('visits.csv.txt',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv.txt',
                   parse_dates=[1])
checkout = pd.read_csv('checkout.csv.txt',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv.txt',
                       parse_dates=[1])

In [21]:

# Inspect the DataFrames using print and head:

# visits lists all of the users who have visited the website
# cart lists all of the users who have added a t-shirt to their cart
# checkout lists all of the users who have started the checkout
# purchase lists all of the users who have purchased a t-shirt

#visits, cart, checkout, purchase
visits.head(), cart.head(), checkout.head(), purchase.head()

(                                user_id          visit_time
 0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
 1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
 2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
 3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
 4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00,
                                 user_id           cart_time
 0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
 1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
 2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
 3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
 4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00,
                                 user_id       checkout_time
 0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
 1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
 2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
 3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
 4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00,
                                  ser_id       purchase_time
 0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
 1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
 2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
 3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
 4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00)

In [4]:

#Combine visits and cart using a left merge.

In [5]:
#visits_cart =  pd.merge( visits, cart )
visits_cart =  pd.merge( visits, cart, how='left' )

In [6]:
#How long is your merged DataFrame?

visits_cart.count()

user_id       2000
visit_time    2000
cart_time      348
dtype: int64

In [7]:
visits_cart

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT
...,...,...,...
1995,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT
1996,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT
1997,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT
1998,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT
1999,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT

In [8]:

# How many of the timestamps are null for the column cart_time?

# What do these null rows mean?

In [9]:
visits_cart.count()

user_id       2000
visit_time    2000
cart_time      348
dtype: int64

In [34]:
visits_cart.cart_time.isnull()

0        True
1       False
2       False
3        True
4        True
        ...
1995     True
1996     True
1997     True
1998     True
1999     True
Name: cart_time, Length: 2000, dtype: bool

In [22]:
cart_time_isnull = visits_cart [visits_cart.cart_time.isnull() ].count()

In [24]:
cart_time_isnull

user_id       1652
visit_time    1652
cart_time        0
dtype: int64

In [23]:
type(cart_time_isnull) #series

pandas.core.series.Series

In [13]:
cart_time_isnull[0]

1652

In [14]:
visits_cart.cart_time.count() #count() will automatically ignore NULLs in the select set

348

In [15]:
348 + 1652

2000

In [40]:
visits_cart [visits_cart.cart_time.isnull() ].count()

user_id       1652
visit_time    1652
cart_time        0
dtype: int64

In [17]:

# What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

# Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [27]:
vistWithItemInCart =  float(visits_cart.cart_time.count()) #numerator

In [41]:
vistWithOutItemInCart = cart_time_isnull[0] #denominator

In [42]:
vistWithItemInCart, vistWithOutItemInCart

(348.0, 1652)

In [53]:
#########
##answer :: What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?
########

round(100 - ((  vistWithItemInCart / vistWithOutItemInCart ) * 100 ), 2)

78.93

In [ ]:
###############
# Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?
##############

In [54]:
cart.head(), checkout.head()

(                                user_id           cart_time
 0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
 1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
 2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
 3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
 4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00,
                                 user_id       checkout_time
 0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
 1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
 2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
 3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
 4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00)

In [61]:
###############
# Q: Does it make a difference whether I form the merged df as a method or function?

CartCheckoutMergeAsMethod =  cart.merge( checkout, how='left' )
CartCheckoutMergeAsFunction = pd.merge( cart, checkout,  how='left' )

In [67]:
print(type(CartCheckoutMergeAsMethod))
print(CartCheckoutMergeAsMethod.head())
print(CartCheckoutMergeAsMethod.head().count())
print(type(CartCheckoutMergeAsFunction))
print(CartCheckoutMergeAsFunction.head())
print(CartCheckoutMergeAsFunction.head().count())

############
# A: No, they appear the same!

<class 'pandas.core.frame.DataFrame'>
                                user_id           cart_time  \
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
2  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
3  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
4  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00

        checkout_time
0 2017-11-07 21:14:00
1 2017-11-07 20:50:00
2 2017-11-07 21:11:00
3                 NaT
4 2017-03-04 11:04:00
user_id          5
cart_time        5
checkout_time    4
dtype: int64
<class 'pandas.core.frame.DataFrame'>
                                user_id           cart_time  \
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
2  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
3  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
4  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00

        checkout_time
0 2017-11-07 21:14:00
1 2017-11-07 20:50:00
2 2017-11-07 21:11:00
3                 NaT
4 2017-03-04 11:04:00
user_id          5
cart_time        5
checkout_time    4
dtype: int64

In [71]:
#CartCheckoutMergeAsMethod.cart_time.isnull().count()
checkout_time_isnull = CartCheckoutMergeAsMethod [CartCheckoutMergeAsMethod.checkout_time.isnull() ].count()

In [74]:
checkout_time_count = CartCheckoutMergeAsMethod.count()

In [75]:
checkout_time_isnull, checkout_time_count

(user_id          122
 cart_time        122
 checkout_time      0
 dtype: int64,
 user_id          482
 cart_time        482
 checkout_time    360
 dtype: int64)

In [76]:
360 + 122

482

In [119]:
#########
##answer:: What percentage of users put items in their cart, but did not proceed to checkout?
########

round((100 - (checkout_time_isnull[0] / checkout_time_count[0] ) * 100), 2)

74.69

In [ ]:
##############
# Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.

# Examine the result using print and head.
##################

In [100]:
visits.head(), cart.head(), checkout.head(), purchase.head() #PURCHASE has a bugged column name

(                                user_id          visit_time
 0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
 1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
 2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
 3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
 4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00,
                                 user_id           cart_time
 0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
 1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
 2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
 3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
 4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00,
                                 user_id       checkout_time
 0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
 1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
 2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
 3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
 4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00,
                                 user_id       purchase_time
 0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
 1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
 2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
 3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
 4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00)

In [101]:
purchase.rename(columns={'ser_id' : 'user_id'}, inplace=True) # fix the column name

In [103]:
# Must use merge as a method here, chained:

all_data = visits.merge( cart, how = 'left' ).merge( checkout, how = 'left' ).merge( purchase, how = 'left' ) # ERROR: No common column ( Fixed, see above )

In [104]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT

In [ ]:
# What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [111]:
checkedOut = float(all_data.checkout_time.count())
purchased = float(all_data.purchase_time.count())

In [112]:
checkedOut, purchased

(598.0, 497.0)

In [117]:
## answer
    
round(( 100 - ( purchased / checkedOut ) * 100), 2)

16.89

In [118]:

# Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?

# How might Cool T-Shirts Inc. change their website to fix this problem?

### Answer: cart to checkout ; 74 % do not continue ( not counting visits to cart, which will always be hightest )

In [ ]:
######
# Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase. Add a column that is the difference between purchase_time and visit_time.
##############

In [121]:
all_data['duration_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [122]:
all_data.head()

,user_id,visit_time,cart_time,checkout_time,purchase_time,duration_to_purchase
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT,NaT

In [125]:
all_data.dtypes

user_id                          object
visit_time               datetime64[ns]
cart_time                datetime64[ns]
checkout_time            datetime64[ns]
purchase_time            datetime64[ns]
duration_to_purchase    timedelta64[ns]
dtype: object

In [135]:
######## WHERE condition : only select where duration not null

#all_data.duration_to_purchase
all_data[ all_data.duration_to_purchase.notnull() ]

,user_id,visit_time,cart_time,checkout_time,purchase_time,duration_to_purchase
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00,0 days 00:44:00
14,486480e2-98c3-4d51-8f4b-b1c07228ce84,2017-01-27 16:34:00,2017-01-27 16:44:00,2017-01-27 17:10:00,2017-01-27 17:12:00,0 days 00:38:00
49,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00,0 days 00:41:00
50,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:21:00,0 days 01:00:00
51,3ccdaf69-2d30-40de-b083-51372881aedd,2017-01-08 20:21:00,2017-01-08 20:38:00,2017-01-08 20:52:00,2017-01-08 21:02:00,0 days 00:41:00
...,...,...,...,...,...,...
2359,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:27:00,2017-06-25 08:35:00,0 days 00:28:00
2360,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:27:00,2017-06-25 08:18:00,0 days 00:11:00
2361,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:18:00,2017-06-25 08:39:00,0 days 00:32:00
2362,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:18:00,2017-06-25 08:35:00,0 days 00:28:00
2363,f783c680-1d9a-437d-9f45-7827299b78fa,2017-06-25 08:07:00,2017-06-25 08:08:00,2017-06-25 08:18:00,2017-06-25 08:18:00,0 days 00:11:00

In [ ]:
########
# Calculate the average time to purchase by applying the .mean() function to your new column.

In [137]:
all_data.duration_to_purchase.mean()

Timedelta('0 days 00:43:53.360160965')