In [1]:
import pandas as pd

# Working with Multiple DataFrames
# Introduction: Multiple DataFrames

# In order to efficiently store data, we often spread related information across multiple tables.

# For instance, imagine that we own an e-commerce business and we want to track the products that have been ordered from our website.

# We could have one table with all of the following information:

#     order_id
#     customer_id
#     customer_name
#     customer_address
#     customer_phone_number
#     product_id
#     product_description
#     product_price
#     quantity
#     timestamp

# However, a lot of this information would be repeated. If the same customer makes multiple orders, that customer’s name, address, and phone number will be reported multiple times. If the same product is ordered by multiple customers, then the product price and description will be repeated. This will make our orders table big and unmanageable.

# So instead, we can split our data into three tables:

#     orders would contain the information necessary to describe an order: order_id, customer_id, product_id, quantity, and timestamp
#     products would contain the information to describe each product: product_id, product_description and product_price
#     customers would contain the information for each customer: customer_id, customer_name, customer_address, and customer_phone_number

# In this lesson, we will learn the Pandas commands that help us work with data stored in multiple tables.

In [36]:

# In script.py, we’ve loaded in three DataFrames: orders, products, and customers.

orders = pd.read_csv('orders.csv.txt')

products = pd.read_csv('products.csv.txt')

customers = pd.read_csv('customers.csv.txt')

In [3]:
#In script.py, we’ve loaded in three DataFrames: orders, products, and customers.

#Start by inspecting orders using the following code:


print(orders)
print(products)
print(customers)
print(type(customers))
#orders

   id  product_id  customer_id  quantity   timestamp
0   1           3            2         1  2017-01-01
1   2           2            2         3  2017-01-01
2   3           1            3         1  2017-01-01
3   4           2            3         2  2016-02-01
4   5           3            3         3  2017-02-01
5   6           4            1         2  2017-03-01
6   7           1            1         1  2017-02-02
7   8           4            1         1  2017-02-02
   id         description  price
0   1      thing-a-ma-jig      5
1   2  whatcha-ma-call-it     10
2   3          doo-hickey      7
3   4               gizmo      3
   customer_id customer_name        address  phone_number
0            1    John Smith   123 Main St.  212-123-4567
1            2      Jane Doe  456 Park Ave.  949-867-5309
2            3     Joe Schmo   798 Broadway  112-358-1321
<class 'pandas.core.frame.DataFrame'>

In [4]:
# rename orders.id to order_id so subsequent statements will work; ditto products.product_id

orders.rename(columns={'id': 'order_id'}, inplace=True)
products.rename(columns={'id': 'product_id'}, inplace=True)

In [5]:

# If we just look at the orders table, we can’t really tell what’s happened in each order. However, if we refer to the other tables, we can get a more complete picture.

# Let’s examine the order with an order_id of 1. It was purchased by Customer 2. To find out the customer’s name, we look at the customers table and look for the item with a customer_id value of 2. We can see that Customer 2’s name is Jane Doe and that she lives at 456 Park Ave.

# Doing this kind of matching is called merging two DataFrames.

In [6]:
# Examine the orders and products tables.

# What is the description of the product that was ordered in Order 3?

# Give your answer as a string assigned to the variable order_3_description.

In [7]:
# SELECT

#orders[orders.order_id == 1]
orders[orders.order_id == 3]
#order_3_description = products[products.product_id == 1]['description'].reset_index()
#order_3_description = str(products[products.product_id == 1]['description'])

#products[products.product_id == 1]['description']
order_3_description = products.description[products.product_id == 1].item()

#type(order_3_description)
order_3_description

'thing-a-ma-jig'

In [8]:
# Examine the orders and products tables.

# What is the description of the product that was ordered in Order 3?

# Give your answer as a string assigned to the variable order_3_description.

ele = products.loc[:,'product_id' ][products.product_id == 1].item() ### THIS WORKS to extract the element, in its ndtive type
order_3_description = products.description[products.product_id == 1].item() ## this method also works
#products['product_id'].iloc[orders.order_id == 3]

print(ele)
print(type(ele))
print(order_3_description)
print(type(order_3_description))

1
<class 'int'>
thing-a-ma-jig
<class 'str'>

In [9]:
# Examine the orders and customers tables.

# What is the phone_number of the customer in Order 5?

# Give your answer as a string assigned to the variable order_5_phone_number.


# customers["phone_number"][orders.order_id == 5]
# customers["phone_number"] ## these both work for selecting a whole column
# customers.phone_number
order_5_phone_number = customers["phone_number"][customers.customer_id == 3].item()

print(order_5_phone_number)

112-358-1321

In [10]:
# WORKING WITH MULTIPLE DATAFRAMES
# Inner Merge II
# It is easy to do this kind of matching for one row, but hard to do it for multiple rows.

# Luckily, Pandas can efficiently do this for the entire table. We use the .merge() method.

# The .merge() method looks for columns that are common between two DataFrames and then looks for rows where those column’s values are the same. It then combines the matching rows into a single row in a new table.

# We can call the pd.merge() method with two tables like this:

# new_df = pd.merge(orders, customers)

# This will match up all of the customer information to the orders that each customer made.

In [11]:
pd.merge(orders, customers)
pd.merge(orders,  products)

,order_id,product_id,customer_id,quantity,timestamp,description,price
0,1,3,2,1,2017-01-01,doo-hickey,7
1,5,3,3,3,2017-02-01,doo-hickey,7
2,2,2,2,3,2017-01-01,whatcha-ma-call-it,10
3,4,2,3,2,2016-02-01,whatcha-ma-call-it,10
4,3,1,3,1,2017-01-01,thing-a-ma-jig,5
5,7,1,1,1,2017-02-02,thing-a-ma-jig,5
6,6,4,1,2,2017-03-01,gizmo,3
7,8,4,1,1,2017-02-02,gizmo,3

In [12]:
# You are an analyst at Cool T-Shirts Inc. You are going to help them analyze some of their sales data.

# There are two DataFrames defined in the file script.py:

# sales contains the monthly revenue for Cool T-Shirts Inc. It has two columns: month and revenue.
# targets contains the goals for monthly revenue for each month. It has two columns: month and target.
# Create a new DataFrame sales_vs_targets which contains the merge of sales and targets.

In [13]:
sales = pd.read_csv('sales.csv.txt')
print(sales)
targets = pd.read_csv('targets.csv.txt')
print(targets)

      month  revenue
0   January      300
1  February      290
2     March      310
3     April      325
4       May      475
5      June      495
      month  target
0   January     310
1  February     270
2     March     300
3     April     350
4       May     475
5      June     500

In [14]:
sales_vs_targets=pd.merge(sales, targets)

In [15]:
# Cool T-Shirts Inc. wants to know the months when they crushed their targets.

# Select the rows from sales_vs_targets where revenue is greater than target. Save these rows to the variable crushing_it.

In [16]:
crushing_it = sales_vs_targets[  sales_vs_targets.revenue > sales_vs_targets.target]

In [17]:
# WORKING WITH MULTIPLE DATAFRAMES
# Inner Merge III
# In addition to using pd.merge(), each DataFrame has its own .merge() method. For instance, if you wanted to merge orders with customers, you could use:

# new_df = orders.merge(customers)

# This produces the same DataFrame as if we had called pd.merge(orders, customers).

# We generally use this when we are joining more than two DataFrames together because we can “chain” the commands. The following command would merge orders to customers, and then the resulting DataFrame to products:

In [18]:
orders.merge(customers).merge(products)

,order_id,product_id,customer_id,quantity,timestamp,customer_name,address,phone_number,description,price
0,1,3,2,1,2017-01-01,Jane Doe,456 Park Ave.,949-867-5309,doo-hickey,7
1,5,3,3,3,2017-02-01,Joe Schmo,798 Broadway,112-358-1321,doo-hickey,7
2,2,2,2,3,2017-01-01,Jane Doe,456 Park Ave.,949-867-5309,whatcha-ma-call-it,10
3,4,2,3,2,2016-02-01,Joe Schmo,798 Broadway,112-358-1321,whatcha-ma-call-it,10
4,3,1,3,1,2017-01-01,Joe Schmo,798 Broadway,112-358-1321,thing-a-ma-jig,5
5,7,1,1,1,2017-02-02,John Smith,123 Main St.,212-123-4567,thing-a-ma-jig,5
6,6,4,1,2,2017-03-01,John Smith,123 Main St.,212-123-4567,gizmo,3
7,8,4,1,1,2017-02-02,John Smith,123 Main St.,212-123-4567,gizmo,3

In [19]:

# We have some more data from Cool T-Shirts Inc. The number of men’s and women’s t-shirts sold per month is in a file called men_women_sales.csv. Load this data into a DataFrame called men_women.

In [20]:
men_women = pd.read_csv('men_women_sales.csv.txt')

In [21]:
# Merge all three DataFrames (sales, targets, and men_women) into one big DataFrame called all_data.

In [22]:
all_data= sales.merge(targets).merge(men_women)

In [23]:
# Cool T-Shirts Inc. thinks that they have more revenue in months where they sell more women’s t-shirts.

# Select the rows of all_data where:

# revenue is greater than target
# AND

# women is greater than men
# Save your answer to the variable results.

In [24]:
results = all_data[ ( all_data.revenue > all_data.target ) & ( all_data.women > all_data.men) ]

In [25]:
# Merge on Specific Columns

# In the previous example, the .merge() function “knew” how to combine tables based on the columns that were the same between two tables. For instance, products and orders both had a column called product_id. This won’t always be true when we want to perform a merge.

# Generally, the products and customers DataFrames would not have the columns product_id or customer_id. Instead, they would both be called id and it would be implied that the id was the product_id for the products table and customer_id for the customers table. They would look like this:
# Customers
# id	customer_name	address	phone_number
# 1	John Smith	123 Main St.	212-123-4567
# 2	Jane Doe	456 Park Ave.	949-867-5309
# 3	Joe Schmo	798 Broadway	112-358-1321
# Products
# id	description	price
# 1	thing-a-ma-jig	5
# 2	whatcha-ma-call-it	10
# 3	doo-hickey	7
# 4	gizmo	3

# **How would this affect our merges?**

# Because the id columns would mean something different in each table, our default merges would be wrong.

# One way that we could address this problem is to use .rename() to rename the columns for our merges. In the example below, we will rename the column id to customer_id, so that orders and customers have a common column for the merge.

# pd.merge(
#     orders,
#     customers.rename(columns={'id': 'customer_id'}))

In [26]:
#orders
products
#pd.merge(orders, products) # cartesian product; NG

   product_id         description  price
0           1      thing-a-ma-jig      5
1           2  whatcha-ma-call-it     10
2           3          doo-hickey      7
3           4               gizmo      3

In [27]:
# 1.

# Merge orders and products using .rename(). Save your results to the variable orders_products.

In [28]:
products.rename( columns={'id': 'product_id'} )
#pd.merge(orders, products.rename())

   product_id         description  price
0           1      thing-a-ma-jig      5
1           2  whatcha-ma-call-it     10
2           3          doo-hickey      7
3           4               gizmo      3

In [29]:
orders_products = pd.merge(orders, products.rename( columns={'id': 'product_id'} ))

In [30]:
# Merge on Specific Columns II
# In the previous exercise, we learned how to use .rename() to merge two DataFrames whose columns don’t match.

# If we don’t want to do that, we have another option. We could use the keywords left_on and right_on to specify which columns we want to perform the merge on. In the example below, the “left” table is the one that comes first (orders), and the “right” table is the one that comes second (customers). This syntax says that we should match the customer_id from orders to the id in customers.

# pd.merge(
#     orders,
#     customers,
#     left_on='customer_id',
#     right_on='id')

# If we use this syntax, we’ll end up with two columns called id, one from the first table and one from the second. Pandas won’t let you have two columns with the same name, so it will change them to id_x and id_y.

# It will look like this:

# id_x	customer_id	product_id	quantity	timestamp	id_y	customer_name	address	phone_number
# 1	2	3	1	2017-01-01 00:00:00	2	Jane Doe	456 Park Ave	949-867-5309
# 2	2	2	3	2017-01-01 00:00:00	2	Jane Doe	456 Park Ave	949-867-5309
# 3	3	1	1	2017-01-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 4	3	2	2	2016-02-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 5	3	3	3	2017-02-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 6	1	4	2	2017-03-01 00:00:00	1	John Smith	123 Main St.	212-123-4567
# 7	1	1	1	2017-02-02 00:00:00	1	John Smith	123 Main St.	212-123-4567
# 8	1	4	1	2017-02-02 00:00:00	1	John Smith	123 Main St.	212-123-4567
# The new column names id_x and id_y aren’t very helpful for us when we read the table. We can help make them more useful by using the keyword suffixes. We can provide a list of suffixes to use instead of “_x” and “_y”.

# For example, we could use the following code to make the suffixes reflect the table names:

# pd.merge(
#     orders,
#     customers,
#     left_on='customer_id',
#     right_on='id',
#     suffixes=['_order', '_customer']
# )

# The resulting table would look like this:

# id_order	customer_id	product_id	quantity	timestamp	id_customer	customer_name	address	phone_number
# 1	2	3	1	2017-01-01 00:00:00	2	Jane Doe	456 Park Ave	949-867-5309
# 2	2	2	3	2017-01-01 00:00:00	2	Jane Doe	456 Park Ave	949-867-5309
# 3	3	1	1	2017-01-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 4	3	2	2	2016-02-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 5	3	3	3	2017-02-01 00:00:00	3	Joe Schmo	789 Broadway	112-358-1321
# 6	1	4	2	2017-03-01 00:00:00	1	John Smith	123 Main St.	212-123-4567
# 7	1	1	1	2017-02-02 00:00:00	1	John Smith	123 Main St.	212-123-4567
# 8	1	4	1	2017-02-02 00:00:00	1	John Smith	123 Main St.	212-123-4567

In [31]:
# Merge orders and products using left_on and right_on. Use the suffixes _orders and _products. Save your results to the variable orders_products.

In [34]:
pd.merge(
     orders,
     products,
     left_on = 'product_id',
     right_on = 'id',
     suffixes = [ '_orders', '_products' ]
 )

,id_orders,product_id,customer_id,quantity,timestamp,id_products,description,price
0,1,3,2,1,2017-01-01,3,doo-hickey,7
1,5,3,3,3,2017-02-01,3,doo-hickey,7
2,2,2,2,3,2017-01-01,2,whatcha-ma-call-it,10
3,4,2,3,2,2016-02-01,2,whatcha-ma-call-it,10
4,3,1,3,1,2017-01-01,1,thing-a-ma-jig,5
5,7,1,1,1,2017-02-02,1,thing-a-ma-jig,5
6,6,4,1,2,2017-03-01,4,gizmo,3
7,8,4,1,1,2017-02-02,4,gizmo,3

In [35]:
 orders_products = pd.merge(
     orders,
     products,
     left_on = 'product_id',
     right_on = 'id',
     suffixes = [ '_orders', '_products' ]
)

In [ ]:
# Working with Multiple DataFrames
# Mismatched Merges

# In our previous examples, there were always matching values when we were performing our merges. What happens when that isn’t true?

# Let’s imagine that our products table is out of date and is missing the newest product: Product 5. What happens when someone orders it?

In [37]:
# We’ve just released a new product with product_id equal to 5. People are ordering this product, but we haven’t updated the products table.

# In script.py, you’ll find two DataFrames: products and orders. Inspect these DataFrames using print.

# Notice that the third order in orders is for the mysterious new product, but that there is no product_id 5 in products.




#orders, products

(   id  product_id  customer_id  quantity   timestamp
 0   1           3            2         1  2017-01-01
 1   2           2            2         3  2017-01-01
 2   3           5            1         1  2017-01-01
 3   4           2            3         2  2016-02-01
 4   5           3            3         3  2017-02-01,
    product_id         description  price
 0           1      thing-a-ma-jig      5
 1           2  whatcha-ma-call-it     10
 2           3          doo-hickey      7
 3           4               gizmo      3)

In [ ]:
# Merge orders and products and save it to the variable merged_df.

# Inspect merged_df using:

# print(merged_df)

# What happened to order_id 3?

In [38]:
orders.merge(products)

,id,product_id,customer_id,quantity,timestamp,description,price
0,1,3,2,1,2017-01-01,doo-hickey,7
1,5,3,3,3,2017-02-01,doo-hickey,7
2,2,2,2,3,2017-01-01,whatcha-ma-call-it,10
3,4,2,3,2,2016-02-01,whatcha-ma-call-it,10