In [1]:
import pandas as pd

# Working with Multiple DataFrames
# Introduction: Multiple DataFrames

# In order to efficiently store data, we often spread related information across multiple tables.

# For instance, imagine that we own an e-commerce business and we want to track the products that have been ordered from our website.

# We could have one table with all of the following information:

#     order_id
#     customer_id
#     customer_name
#     customer_address
#     customer_phone_number
#     product_id
#     product_description
#     product_price
#     quantity
#     timestamp

# However, a lot of this information would be repeated. If the same customer makes multiple orders, that customer’s name, address, and phone number will be reported multiple times. If the same product is ordered by multiple customers, then the product price and description will be repeated. This will make our orders table big and unmanageable.

# So instead, we can split our data into three tables:

#     orders would contain the information necessary to describe an order: order_id, customer_id, product_id, quantity, and timestamp
#     products would contain the information to describe each product: product_id, product_description and product_price
#     customers would contain the information for each customer: customer_id, customer_name, customer_address, and customer_phone_number

# In this lesson, we will learn the Pandas commands that help us work with data stored in multiple tables.

In [2]:

# In script.py, we’ve loaded in three DataFrames: orders, products, and customers.

orders = pd.read_csv('orders.csv.txt')

products = pd.read_csv('products.csv.txt')

customers = pd.read_csv('customers.csv.txt')

In [4]:
#In script.py, we’ve loaded in three DataFrames: orders, products, and customers.

#Start by inspecting orders using the following code:

# print(orders)
# print(products)
# print(customers)
# print(type(customers))
orders

   order_id  customer_id  product_id  quantity   timestamp
0         1            2           3         1  2017-01-01
1         2            2           2         3  2017-01-01
2         3            3           1         1  2017-01-01
3         4            3           2         2  2017-02-01
4         5            3           3         3  2017-02-01
5         6            1           4         2  2017-03-01
6         7            1           1         1  2017-02-02
7         8            1           4         1  2017-02-02