# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

JeopardyDF = pd.read_csv('jeopardy.csv')

#JeopardyDF
#print(JeopardyDF)

In [2]:
JeopardyDF

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams
...,...,...,...,...,...,...,...
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,This Puccini opera turns on the solution to 3 riddles posed by the heroine,Turandot
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,"In North America this term is properly applied to only 4 species that are crested, including the tufted",a titmouse
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"In Penny Lane, where this ""Hellraiser"" grew up, the barber shaves another customer--then flays him alive!",Clive Barker
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return""",Geronimo
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,no value,A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great,Grigori Alexandrovich Potemkin

In [15]:

JeopardyDF.dtypes
#JeopardyDF.Question
#questions = JeopardyDF['Question']
#JeopardyDF[1][1]

showNbr      int64
airDate     object
round       object
category    object
value       object
question    object
answer      object
dtype: object

In [12]:
# Rename columns - they are not handling correctly as dtype objects

JeopardyDF.rename( columns={ "Question" : 'boner' }, inplace=True ) # df.rename() is not working

In [14]:
JeopardyDF.columns = [ 'showNbr', 'airDate', 'round', 'category', 'value', 'question', 'answer' ] ## That seemed to fix it; though I'm still not clear on what was wrong with the original column names

In [16]:
JeopardyDF.question

0                               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
                                                                   ...
216925                                                This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                   In North America this term is properly applied to only 4 species that are crested, including the tufted
216927                 In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928    From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                   A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great
Name: question, Length: 216930, dtype: object

In [18]:
## Filter for substrings in string

#JeopardyDF.query('question.str.contains("city|love")') ## Works! ( this was not covered before; found online )
#JeopardyDF.query('question.str.contains({"city", "love"])') #nope, will not take a list
#JeopardyDF.query('question.str.contains("city|love")')

In [19]:
## OR / ANY of search terms  

search_terms = ['city', 'love']
search_terms_joined = '|'.join(search_terms)

In [20]:
search_terms , search_terms_joined

(['city', 'love'], 'city|love')

In [21]:
#JeopardyDF.query('question.str.contains(search_terms_joined)') # nope, variable is literal inside single quotes

JeopardyDF[JeopardyDF.question.str.contains(search_terms_joined)]

,showNbr,airDate,round,category,value,question,answer
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona
94,5957,2010-07-06,Double Jeopardy!,JUST THE FACTS,$800,"This city, the seat of Clark County, Nevada, has been called ""the entertainment capital of the world""",Las Vegas
119,3751,2000-12-18,Jeopardy!,TRAVEL & TOURISM,$100,The Cinderella Castle Mystery Tour is a highlight of this Asian city's Disneyland,Tokyo
125,3751,2000-12-18,Jeopardy!,TRAVEL & TOURISM,$200,"The home of silk merchant Jim Thompson, who disappeared in 1967, is a tourist attraction in this Thai city",Bangkok
143,3751,2000-12-18,Jeopardy!,TRAVEL & TOURISM,$500,"Andrea Palladio's 1554 book on ""The Antiquities of"" this city was the standard guidebook for some 200 years",Rome
...,...,...,...,...,...,...,...
216811,5195,2007-03-23,Jeopardy!,AFRICAN CITIES,$200,"In ancient times Giza, a suburb of this city, served as a large cemetery, or necropolis",Cairo
216823,5195,2007-03-23,Jeopardy!,AFRICAN CITIES,$600,"Crosby, Stills & Nash could tell you that the 220-foot-high Kutubiyyah Mosque towers over this Moroccan city",Marrakesh
216824,5195,2007-03-23,Jeopardy!,HORSING AROUND,$600,"In Act One of Berlioz' opera ""Les Troyens"", this object is dragged inside a city's walls",the Trojan Horse
216829,5195,2007-03-23,Jeopardy!,AFRICAN CITIES,"$3,000",The name of this South African city honors someone's first name; there's dispute over which of 3 Dutchmen it was,Johannesburg
216906,4999,2006-05-11,Double Jeopardy!,OFF-BROADWAY,$800,"""Red Light Winter"" centers on a love triangle that begins in the famous Red Light District of this European city",Amsterdam

In [19]:
##AND / ALL of search terms

search_terms = ['city', 'love']
search_terms_joined = '|'.join(search_terms)

In [ ]:
#JeopardyDF.filter( like = 'city' , axis = 1 ) #nope

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [ ]:
def JeopardyDFStringFilter(search_terms, df):
    print("I am searching in Jeopardy questions for the words: " )
    for term in search_terms:
        print(term)
    #return JeopardyDF[JeopardyDF['Question'].isin(search_terms)]
    #print(df.loc[df['question'].isin(search_terms)])
    #df['question']
    #search_terms_joined = '|'.join(search_terms)  ##ALL terms, not ANY
    filteredDf = df[df.question.str.contains(search_terms_joined)]
    return filteredDf

In [ ]:
JeopardyDFStringFilter(["King", "England"], JeopardyDF)

In [ ]:
## this approach is not working : I need whole word matches only, and all words matching vs any

JeopardyDF
#JeopardyDF
#JeopardyDF[JeopardyDF.question.str.contains("city|love", regex=True)]
#(?=.*test)(?=.*long)
#JeopardyDF.question.str.contains("(?=.*test)(?=.*long)", regex=True)
JeopardyDF.question.str.contains(r'^(?=.*king)(?=.*england)')
#JeopardyDF[JeopardyDF.question.str.contains("(\test\b)(\long\b)", regex=True)]

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.